<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>codeMingle</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  <link rel="stylesheet" href="./style.css">
</head>

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" id="headerTitle" href="#">codeMingle</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Create Post</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="container forms">
  <div class="row" id="signupForms">
    <div class="col">
      <form id="signinForm">
        <h1> <strong>Sign IN</strong> </h1>
        <div class="form-group">
          <label for="exampleInputEmail1">E-mail Address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Keep Me Logged In</label>
        </div>
        <button id= "signinButton" type="submit" class="btn btn-primary">Log In</button>
      </form>
    </div>
    <div class="col">
      <form id="signupForm">
        <h1> <strong>Sign UP</strong> </h1>
        <div class="form-group">
          <label for="exampleInputEmail1">E-mail Address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Username</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Keep Me Signed In</label>
        </div>
        <button id="signupButton" type="submit" class="btn btn-primary">Sign Up</button>
      </form>
    </div>
  </div>
